.incoming-messages-list {
    height: 300px;
    overflow-x: scroll;
    overflow-y: scroll;
}

.room-list {
    height: 300px;
    overflow-y: scroll;
}

.subscribed-room {
    background: lightgreen;
}

.unsubscribed-room {
    background: white;
}

